*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: 30px auto;
    padding: 40px;
}

h1{
    color: orange;
    margin-bottom: 30px;
}

p{
    margin-bottom: 20px;
}

p input{
    width: 50px;
    height: 30px;
}

.btn{
    padding: 8px 12px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    display: block;
}